@font-face {
    font-family: 'Barbie SomeOne';
    src: url('./fonts/Barbie_SomeOne.woff2') format('woff2'),
        url('./fonts/Barbie_SomeOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.sidebar {
    width: 40%;
    height: 100vh;
    background-image: url("./agnese-rudzite-kSxkjuDMY0Q-unsplash.jpg");
    background-size: cover;
    text-align: center;
}

.main {
    width: 60%;
    height: 100vh;
    background-color: lightpink;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
}

.header {
    font-size: 5rem;
    font-family: 'Barbie SomeOne';
    margin-left: 25px;
}

#header-wrapper {
    color: white;
    /* opacity: .1; */
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 8%;
    height: 155px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
}

.italic-text {
    font-style: italic;
}

.main-top,
.main-form,
.main-bottom {
    padding-left: 32px;
    /* border: 2px dashed red; */
}

.main-top {
    font-weight: bold;
}

.main-form {
    background-color: pink;
    height: 30%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 16px;
    font-size: 16px;
}

form > div {
    display:  flex;
    flex-direction: column;
    width: 40%;
}

form input {
    width: 250px;
    font: inherit;
    border-radius: 5px;
}

#submit-button {
    font-size: large;
}